@model VisitesMediques.Domain.Entities.VisitaMedica

<h4>Registrar Visita</h4>
<hr />
<form asp-action="Create">
    <div class="form-group">
        <label>Nombre Paciente</label>
        <input asp-for="NomPacient" class="form-control" maxlength="40" />
    </div>
    <div class="form-group">
        <label>Nombre Médico</label>
        <input asp-for="NomMetge" class="form-control" maxlength="40" />
    </div>
    <div class="form-group">
        <label>Fecha</label>
        <input asp-for="Data" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Diagnóstico</label>
        <textarea asp-for="Diagnostic" class="form-control" maxlength="250"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>